<div
  class="card"
  style="width: 20rem;"
>
  <img height="300" [src]="cocktailCover" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title fs-6 text-nowrap fw-bold mb-1"><i class="fa-solid fa-cocktail"></i>&nbsp;{{ cocktail.title }}</h5>
    <hr>
    <h6 class="card-subtitle fs-6 text-secondary"><i class="fas fa-user"></i>&nbsp;{{ cocktail.owner }}</h6>

  </div>
  <div class="card-footer d-flex gap-2 justify-content-between align-items-center">
    <div class="d-flex gap-2">
      <app-rating [rating]="cocktail.rate || 0"></app-rating>
      <span class="fw-bold" *ngIf="cocktail.rate || 0 > 0">
        {{ cocktail.rate }}
      </span>
    </div>
    <div class="d-flex gap-2" *ngIf="!manage">
      <i (click)="onShowDetails()" class="fas fa-circle-info text-primary"></i>
      <i (click)="onAddToFavorites()" class="fas fa-heart text-danger"></i>
    </div>
    <div class="d-flex gap-2" *ngIf="manage">
      <i (click)="onEdit()" class="fas fa-edit text-success"></i>
      <i (click)="onDelete()" class="fas fa-delete-left text-danger"></i>
    </div>
  </div>
</div>
